.jumbotron {
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(http://wallpaperscraft.com/image/camera_olympus_lens_108269_1280x800.jpg);
    color:white;
    padding-top:100px;
  }
  
  
  
  
  
  
  img {
    width:300px;
  }
  
  img {
    margin:0 auto;
    padding:20px;
    display:block;
  }
  
  .btn {
    border:none;
    padding:10px 30px;
  }
  
  footer {
    margin-top:10px;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    background:black;
  }
  