* {
    padding:0;
    margin:0;
    border:0;

}

body {
    font-family: 'Vollkorn SC';
    padding:0;
    margin:0;
}

h2 {
    padding-top:10%;
    padding-bottom:5%;
    font-size:40px;
    text-align:center;
}

h4 {
    font-size:30px;
    text-align:center;
    padding:5px 0;
}

p {
    font-size:20px;
}











/* NAVBAR STYLING */

nav {
    background:black;
    color:white;
    font-size:18px;
} 

.navbar-shrink {
    background:#191970;
}



.navbar-inverse span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

button.navbar-toggler.navbar-toggler-right {
  border-color: yellow;
}


.navbar-brand {
    color:white;
    font-family: 'Vollkorn SC';
}

.navbar-brand:hover {
    color:#FED136;
}

.navbar-nav .nav-item a {
    color:white !important;
    font-family: 'Vollkorn SC';
}

.navbar-nav .nav-item a:hover {
    color:#FED136 !important;
    font-size:18px;
    }



/*Navbar end*/




/**---------------- First section ---------********/
#home {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../../images/website.jpg');
    height:100vh;
    width:100%;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    
    
}




.inner {
    text-align:center;
    padding-top:200px;
    color:white;
}

.cover-heading {
    font-size:60px;
    font-family: 'Vollkorn SC';
    
}

.lead {
    font-size:3em;
    font-family: 'Vollkorn SC', serif;
}

.btn {
    padding:10px 30px;
    background:#Fed136;
    text-decoration:none;
    color:black;
}

.btn a {
    text-decoration:none;
    color:Black;
    font-family: 'Vollkorn SC';
}

.btn:hover {
    background:steelblue;
    font-size:20px;
    transition:.4s;
    border:none;
    text-decoration:none;
}
/*********------------- first section end homepage-------******/

/**------------ about section ------*********/
.about-image {
    display:block;
    margin:0 auto;
    max-width:100%;
    width:auto;
    border-radius:15%;

}

.about-text {
    text-transform:normal;
}





/*******------------ third section  portfolio section-------*///////////
.portfolio-text {
    text-align:center;
    margin:0 auto;
}

.image1 {
    display:block;
    margin:0 auto;
    max-width:100%;
    
}

.image1:hover {
    transform:translateY(-8px);
    transition:.5s all ease;
}

.column-1 {
    margin-bottom:20px;
}

#portfolio {    
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../../images/portfolio.jpg');
    margin-top:30px;
    color:white;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    padding-bottom:30px;

}

/****-------------- end of third section ----********/


/*********---------- start of forth section services ------*******/

.icon {
    border-radius:125%;
    height:120px;
    width:120px;
    text-align:center;
    background:#6991AC;
    margin:0 auto;
}

.icon i {
    font-size:450%;
    text-align:center;
    padding:20%;
    color:#F0F0F0;
}

#services {
    padding-bottom:40px;
}


/***----------- end of the forth section Services -------**********/


/********---- Footer section ----*****/
#contact {
    color:white;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../../images/contact.jpg);
    background-size:cover;
    background-position:center;
    padding-bottom:5px;
    background-attachment:fixed;
    
}

#contact .contact-text {
    font-size:24px;
}

.social-icon {
    list-style:none;
}

.social-icon li {
    font-size:300%;
    display:inline-block;
    padding:5%;
}

.social-icon li a {
    color:white;
}

.social-icon li a:hover {
    color:#FED136;
}

.contact-text a:hover {
    text-decoration:none;
    color:#FED136;
    transition:.3s;
}

.secondfooter {
    background:#191970;
    color:white;
    padding-bottom:5px;
    padding-top:10px;
    
    
}


/********* Media queries for responsive in all the devices ************/

@media screen and (max-width:500px) {
    .cover-heading {
        font-size:40px;
    }

    .lead {
        font-size:2em;
    }

    .btn {
        display:none;
    }
    
    p {
        font-size:16px;
    }
    
    h4 {
        font-size:24px;
        padding-top:5px;
        padding-bottom:15px;
    }
    
    h2 {
        font-size:30px;
    }
    
    .about-text {
        text-align:center;
    }
    
    .portfolio-text {
        text-align:center;
    }
    
    .col-sm-6 {
        padding-top:10px;
        padding-bottom:10px;
    }
    
    .icon {
        height:80px;
        width:80px;
        text-align:center;
        background:#6991AC;
        margin:0 auto;
    }

    .icon i {
        font-size:300%;
        text-align:center;
        padding:20%;
        color:#F0F0F0;
    }
    
    #contact .contact-text {
        font-size:20px;
    }
    
    .social-icon li {
        font-size:200%;
    }
    
    .secondfooter {
        padding:5px 0;
    }
    
    
}